<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div>
            <p>위기경보 심각 <br/> 코로나바이러스감염증-19</p>
        </div>
        <div>
            <a href='{% url 'login' %}'>로그인</a> <a href='{% url 'signin' %}'>회원가입</a>
        </div>
        <div>
    </header>
    <nav>
        <div>
            <ul>
                <li><a>모집중</a></li>
                <li><a>봉사후기</a></li>
                <li><a>봉사후기</a></li>
            </ul>
        </div>
        <div>
            <p>+제안하기</p>
        </div>
    </nav>
    <section>
        <p>그림</p>
    </section>
        
</body>
</html>
