<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" href="static/main.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="head_1">
            <div class="head_1_text1">
                위기경보 심각
            </div> 
            <div class='head_1_text2'>
                코로나바이러스감염증-19
            </div> 
        </div>

        <div class="head_2">
            <div class="head_2_text">
                <img class="login_img" src="static/img/login.jpg">
                <a class="login" href='{% url 'login' %}'>Log in</a> <a class="join" href='{% url 'signin' %}'>Join</a>
            </div>
        </div>
    </header>
  
    <nav class="menubar">
        <ul>
            <li><a href='{% url 'post' %}'>모집중</a></li>
            <li><a>봉사후기</a></li>
            <li><a>봉사후기</a></li>
        </ul>
      
        <div>
            <p>+제안하기</p>
        </div>
    </nav>
    <contain>
        <section>
            <article>
                <div>
                    <p>그림</p>
                </div>
            </article>
        </section>

        <section>
            <header>
                <div>
                    <h2>모집중인</h2>
                </div>
                <div>
                    <p>모든 것은 바뀔 수 있다. 그리고,<br/>
                        나 역시 무언가 바꿀 수 있다.</p>
                </div>
            </header>
            <article>
                <ui>
                    <li><img>이미지</li>
                    <li><img>이미지</li>
                    <li><img>이미지</li>
                    <li><img>이미지</li>
                    <li><img>이미지</li>
                    <li><img>이미지</li>
                </ui>
            </article>
        </section>

        <section>
            <header>
                <div>
                    <h2>지나간</h2>
                </div>
                <div>
                    <p>모든 것은 바뀔 수 있다. 그리고,<br/>
                        나 역시 무언가 바꿀 수 있다.</p>
                </div>
            </header>
            <article>
                <ui>
                    <li><img>이미지</li>
                    <li><img>이미지</li>
                    <li><img>이미지</li>
                    <li><img>이미지</li>
                    <li><img>이미지</li>
                    <li><img>이미지</li>
                </ui>
            </article>
        </section>
    </contain>
            
</body>
</html>
