<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <header>
        <div>
            <p>위기경보 심각 <br/> 코로나바이러스감염증-19</p>
        </div>
        <div>
            <a href='{% url 'login' %}'>로그인</a> <a href='{% url 'signin' %}'>회원가입</a>
        </div>
        <div>
    </header>

    <nav>
        <div>
            <ul>
                <li><a>모집중</a></li>
                <li><a>봉사후기</a></li>
                <li><a>봉사후기</a></li>
            </ul>
        </div>
        <div>
            <p>+제안하기</p>
        </div>
    </nav>

    <section>
        <article>
            <div>
                <p>그림</p>
            </div>
        </article>
    </section>

    <section>
        <header>
            <div>
                <h2>모집중인</h2>
            </div>
            <div>
                <p>모든 것은 바뀔 수 있다. 그리고,<br/>
                    나 역시 무언가 바꿀 수 있다.</p>
            </div>
        </header>
        <article>
            <ui>
                <li><img>이미지</li>
                <li><img>이미지</li>
                <li><img>이미지</li>
                <li><img>이미지</li>
                <li><img>이미지</li>
                <li><img>이미지</li>
            </ui>
        </article>
    </section>

    <section>
        <header>
            <div>
                <h2>지나간</h2>
            </div>
            <div>
                <p>모든 것은 바뀔 수 있다. 그리고,<br/>
                    나 역시 무언가 바꿀 수 있다.</p>
            </div>
        </header>
        <article>
            <ui>
                <li><img>이미지</li>
                <li><img>이미지</li>
                <li><img>이미지</li>
                <li><img>이미지</li>
                <li><img>이미지</li>
                <li><img>이미지</li>
            </ui>
        </article>
    </section>
        
</body>
</html>
