<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css"> 
        a { text-decoration:none ; color:black}
    </style>
    <title>Document</title>
</head>
<body>
    <header>
        <div class="head_1">
            <div class="head_1_text1">
                위기경보 심각
            </div> 
            <div class='head_1_text2'>
                코로나바이러스감염증-19
            </div> 
        </div>
        <div>
            <a href='{% url 'login' %}'>로그인</a> <a href='{% url 'signin' %}'>회원가입</a>
        </div>
        <div>
    </header>

    <contain>
        <div>
            <p>제목</p>
        </div>
        <div>
            <div>
                <h2>기본정보</h2>
            </div>
            <div>
                <ul>
                    <li>봉사지역</li>
                    <li>봉사주관지</li>
                    <li>봉사유형</li>
                    <li>봉사기관</li>
                    <li>모집인원</li>
                </ul>
            </div>
        </div>

        <div>
            <div>
                <h2>상세정보</h2>
            </div>
            <div>
                <p>내용</p>
            </div>
        </div>
        
        <div>
            <div>
                <h2>담당자정보</h2>
            </div>
            <div>
                <ul>
                    <li>이름</li>
                    <li>이메일</li>
                    <li>연락처</li>
                    <li>소속</li>
                </ul>
            </div>
        </div>
    </contain>
    <a href='{% url 'post' %}'>뒤로가기</a>
</body>
</html>