<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <header>
        <div>
            <a href='{% url 'main' %}'>위기경보 심각 <br/> 코로나바이러스감염증-19</a>
        </div>
        <div>
            <a href='{% url 'login' %}'>로그인</a> <a href='{% url 'signin' %}'>회원가입</a>
        </div>
        <div>
    </header>

    <contain>
        
    </contain>



</body>
</html>