<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" href="static/post.css">
    <title>Document</title>
</head>
<body>


    <header>
        <div class="head_1">
            <div class="head_1_text1">위기경보 심각</div> 
            <div class='head_1_text2'>코로나바이러스감염증-19</div> 
        </div>
        <div class="head_2">
            <div class="name">DOYA</div>
            <div class="search_bar">
                <div class="head_2_text">
                    <img class="login_img" src="static/img/login.PNG">
                    <a class="login" href='{% url 'login' %}'>Log in</a> <a class="join" href='{% url 'signin' %}'>Join</a>
                </div>
                <div><img class="search_img" src="static/img/search.PNG"></div>
                <div><img class="menu_img" src="static/img/menu.PNG"></div>
            </div>
        </div>
    </header>

    <contain>
        
    </contain>



</body>
</html>